<!DOCTYPE html>
<html>
<head>
<title><%= full_title( yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<div class="menu">
<%= link_to "About", static_about_path %>
<%= link_to "Home", static_home_path %>
<%= link_to "Articles", dynamic_articles_path %>
<%= link_to "Videos", dynamic_videos_path %>
</div>

<div class="logo-image">
<%= link_to image_tag(".jpg", alt: "logotype"), 'url' %>
</div>

<div class="page-container">
	<%= yield %>
</div>

</body>
</html>
